
.home{
    .blanco_prod {
        padding-top:80px;
        padding-bottom: 80px;
        
        .card-img-top{
            height:370px; 
            background-color:#fafafa;
            border-radius:0px;
        }
        .card-title{
            text-align: center;
            
        }
    }
}