.about_us {
    .red{
        color: red;
      }
      
      .grey{
        color: grey;
      }
      
      .members{
        background-color: #fafafa;
      }
      section{
        padding-top: 100px;
      }
      
      .individual{
        padding-bottom: 50px;
      }
      .branding{
        width: 75px;
        height: 75px;
        background-color: grey;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      .branding:hover{
        background-color: red;
        color: white;
      }
      
      .brand{
        margin-top: 25px;
        margin-bottom: 25px;
      }
      
      .imgs{
        background-color: black;
        border-radius: 50%;
        width: 200px;
        height: 200px;
        flex-direction: column;
        display: flex;
        align-items: center;
      }
      .team{
        align-items: center;
        display: flex;
        flex-direction: column;
      }

}
