.article {
    .nav-bar {
        margin-bottom: 10px;
    }
    .card-img-top {
        height: 370px;
        background-color: #fafafa;
        border-radius: 0px;
        background-size: cover;
        background-repeat: no-repeat;
    }
}