.home {
    header {
        height: 700px;
        background-color: #4d4d4d;
    }
    h1 {
        color: white;
        font-size: 130pt;
    }
    section {
        border: 10px solid white;
        padding: 50px;
    }
}

@media screen and (max-width: 769px) {
    .home {
        h1 {
            font-size: 3em;
        }
    }
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
    margin-top: -32px;
}

.about_us {
    header {
        height: 400px;
        background-color: #4d4d4d;
        margin-bottom: 30px;
    }
}