
.home{
    .blanco_prod {
        padding-top:80px;
        padding-bottom: 80px;
        
        .blanco-span{
            text-align: center;
        }

        .blanco-head{
            text-align: center;
            padding-bottom: 30px;
            margin-bottom: -350px;
        }

        .card-img-top{
            height:370px; 
            background-color:#fafafa;
            border-radius:0px;
        }
        .card-title{
            text-align: center;
        }
        .card-text{
            text-align: center;
            color:#d14b4b;
        }
    }
}

@media screen and (max-width: 1199px) {
    .home{
        .blanco_prod {
            .blanco-head{
                text-align: center;
                padding-bottom: 30px;
                margin-bottom: -80px;
            }
        }
    }
}
