.nav-bar{
    margin-top: 32px;
    background-color: #4d4d4d;;
    width: 100%;
    margin-bottom: -50px;
    a{
        text-decoration: none;
        color:white;
     }
     .dropdown-menu{
         background-color: transparent;
     }
     .navbar-brand{
         color:white;
     }
}
@media screen and (max-width: 769px) {
    .nav-bar{
        margin-top: 46px;
    }
}