header {
    height: 700px;
    background-color: #4d4d4d;
}

@media (min-width: 1200px) {
    .container-fluid {
        padding-right: 0px;
        padding-left: 0px;
        margin-top: -32px;
    }
}